body {
    font-family: Arial, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 10px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo h1 {
    margin-left: 40px;
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 55px
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

/* .navbar ul li a:hover {
    color: #007BFF;
} */

.container1 {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(40%);
}


.content {
    position: relative;
    z-index: 1;
    color: white;
    padding: 20px;
}

.content h1 {
    font-size: 2.5rem;
    margin-top: 200px;
    margin-left: 7%;
}

.content p {
    font-size: 1.5rem;
    margin-left: 7%;
    color: rgb(91, 228, 66);
}

.btn {
    height: 40px;
    width: 120px;
    margin-top: 15px;
    margin-left: 7%;
    color: white;
    background-color: rgb(91, 228, 66);
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        gap: 10px;
    }

    .content h1 {
        font-size: 2rem;
    }

    .content p {
        font-size: 1rem;
    }
}





.boxWidth {
  @apply xl:max-w-[1280px] w-full;
}

.heading2 {
  @apply font-poppins font-semibold text-[40px] leading-[66.8px] w-full;
}

.heading2.xs {
  @apply xs:text-[48px] xs:leading-[76.8px];
}

.paragraph {
  @apply font-poppins font-normal text-[18px] leading-[30.8px];
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexStart {
  @apply flex justify-center items-start;
}

.paddingX {
  @apply sm:px-16 px-6;
}

.paddingY {
  @apply sm:py-16 py-6;
}

.padding {
  @apply sm:px-16 px-6 sm:py-12 py-4;
}

.marginX {
  @apply sm:mx-16 mx-6;
}

.marginY {
  @apply sm:my-16 my-6;
}

/* Layout styles */
.section {
  @apply flex md:flex-row flex-col;
}

.sectionReverse {
  @apply flex md:flex-row flex-col-reverse;
}

.sectionImgReverse {
  @apply flex-1 flex justify-center items-center md:mr-10 mr-0 md:mt-0 mt-10 relative;
}

.sectionImg {
  @apply flex-1 flex justify-center items-center md:ml-10 ml-0 md:mt-0 mt-10 relative;
}

.sectionInfo {
  @apply flex-1 flex justify-center items-start flex-col;
}